{% extends 'oscar/base.html' %}
{% load static %}
{% load image_tags %}
{% block extrastyles %}
{{ block.super  }}
<link rel="stylesheet" href="{% static 'oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.css' %}" />
<link rel="stylesheet" href="{% static 'store/CSS/dashboard.css' %}">
{% endblock %}

{% block layout %}
<div class="contaniner-fluid">
	<!-------------Left side bar----------->
	<div class="modal fade " tabindex="-1" id="category_select" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ">Choose  product category </h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
						{% for category in categories %}
						<div class="col-lg-4 col-md-4 col-6 my-2">
							<a href="{% url 'store:add_product' category.name %}">
								<div class="image-container" class="w-25">
								  <img src="{% oscar_thumbnail category.image  '300x400' crop='center' upscale='false' %}" alt="" class="rounded img-fluid">
								  <div class="image-info">
									<h6 class="text-white  text-uppercase  fs-6">{{ category.name }}</h6>
								</div>
							  </div>
							  </a>
						</div>
						{% endfor %}
					</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal" >Cancel</button>
                </div>

            </div>
        </div>
</div>
		<div class="navigation">
			<ul>
				<li class="excluded">
					<a href="{% url 'store:dashboard' user.pk %}">
						<span class="sidenav-title h3 mt-3 fw-bold text-uppercase">Dashboard</span>
					</a>
				</li>

				<li class="side-title">
					<span class="sidenav-title text-white text-uppercase ">Main</span>
				</li>
				<li>
					<a href="{% url 'core:index' %}">
						<span class="icon">
							<i class="bi bi-house-fill"></i>
						</span>
						<span class="sidenav-title">
							Home
						</span>
					</a>
				</li>
				<li>
					<a href="{% url 'store:store' user.shop.pk user.shop.get_slug %}">
						<span class="icon">
							<i class="bi bi-shop"></i>
						</span>
						<span class="sidenav-title">
							MyStore
						</span>
					</a>
				</li>
				<li>
					<a href="{% url 'store:settings'   %}">
						<span class="icon">
							<i class="bi bi-gear"></i>
						</span>
						<span class="sidenav-title">
							Settings
						</span>
					</a>
				</li>
				<hr ><!--Break point-->
				<li class="side-title">
					<span class="sidenav-title text-white text-uppercase ">Tables</span>
				</li>
				<li>
					<a href="">
						<span class="icon">
							<i class="bx bxs-t-shirt"></i>
						</span>
						<span class="sidenav-title">
							Fashion
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon">
							<i class="bi bi-phone-landscape"></i>
						</span>
						<span class="sidenav-title">
							Electronics
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon">
							<i class="bi bi-bag-heart"></i>
						</span>
						<span class="sidenav-title">
							Supermarket
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon">
							<i class="bi bi-pen"></i>
						</span>
						<span class="sidenav-title">
							Scholastics
						</span>
					</a>
				</li>
			</ul>
		</div>
	<!----End of Left sidebar-->
	<!--==========Main==================-->
	<div class="main ">
		<div class="topbar">
			<div class="toggle">
				<i class="bx bx-menu"></i>
			</div>
	
			
			<div class="profile d-flex align-items-center ">
				<div class="add-btn mx-2">
					<button  class="btn rounded-pill btn-primary fw-bold fs-6 d-none d-md-block d-lg-block text-center" data-bs-toggle="modal" data-bs-target="#category_select">Add product+</button>
				</div>
				<div class="notifications position-relative mx-1">
					<i class="bi bi-bell fs-4"></i>
					<span class=" translate-middle badge rounded-pill bg-danger">99+</span>
				</div>
				<div class="user  mx-2">
					<img src="{% static 'core/Images/9973ae95495ad119d5ee1894ee121f1c.jpg' %}" alt="Profile image" class="user-profile-img">	
				</div>
				<div class="profile-links">
					<ul class="list-group">
						<li class="fw-bold list-group-item"><a href="">Account</a></li>
						<li  class="fw-bold list-group-item " ><a href="">Logout</a></li>
					</ul>
				</div>
			
			</div>
		</div>		
			{% block dashboard_content %}
			
			{% endblock %}

		{% include 'oscar/partials/backtotop.html' %}
{% include 'oscar/partials/footer.html' %}
	</div>
</div>


{% endblock %}

{% block extrascripts %}
{{ block.super }}


	<script src="{% static 'store/Javascript/dashboard.js' %}"></script>
{# jQuery plugins #}
    <script src="{% static 'oscar/js/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'oscar/js/bootstrap4-datetimepicker/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'oscar/js/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'oscar/js/jquery-sortable/jquery-sortable-min.js' %}"></script>
    <script src="{% static 'oscar/js/oscar/dashboard.js' %}"></script>
    <script src="{% static 'oscar/js/oscar/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'oscar/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'oscar/js/tinymce/jquery.tinymce.min.js' %}"></script>

{% endblock %}


{% block onbodyload %}
    {{ block.super }}

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.bs-docs-sidenav a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-list a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    options = {
      'languageCode': '{{ LANGUAGE_CODE }}'
    };
    oscar.dashboard.init(options);

	$(document).ready(function(){
		console.log('Running')
		oscar.dashboard.filereader.init()
	})
{% endblock %}


