{% extends 'oscar/base.html' %} 
{% load i18n %} {% load static %} 


{% block title %}TLink{% endblock %}

{% block extrahead %}
<script src="{% static 'core\Javascript\jquery-3.7.1.js' %}"></script>
{% endblock %}

{% block extrastyles %}
<link
  rel="stylesheet"
  href="{% static  'core\Css\bulma\css\bulma.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static  'core\Css\package\swiper-bundle.min.css' %}"
/>
<link
rel="stylesheet"
href="{% static  'core\icons\bootstrap-icons\bootstrap-icons.css' %}"
/>
<link
rel="stylesheet"
  href="{% static  'core\icons\boxicons\css\boxicons.min.css' %}"
  />
  <link
    rel="stylesheet"
    href="{% static  'core\Css\bootstrap-5.3.2-dist\css\bootstrap.min.css' %}"
  />

<link rel="stylesheet" href="{% static 'core/Css/style.css' %}">

{% endblock %} 

{% block extrascripts %}

<script src="{% static 'core\Css\bootstrap-5.3.2-dist\js\bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core\Css\package\swiper-bundle.min.js' %}"></script>
<script src="{% static 'core\Javascript\main.js' %}"></script>
<script>
  var swiper = new Swiper(".product_thumbnails", {
    loop: true,
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper2 = new Swiper(".product_gallery", {
    loop: true,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>

{% endblock %}


