/**============Globals=================**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0d6efd;
    ;
    --blue2: #3c2dda;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --gray2: #e3e3e3;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    position: relative;
    width: 100%;
}

/*=============Navigation=================*/
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    font-size: 16px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation.active {
    width: 80px;
}


.navigation ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;

}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    color: var(--white);
}



.navigation ul li:not(.excluded):hover,
.navigation ul li.hovered:not(.excluded) {
    background-color: var(--white);
}

.navigation ul li.side-title {
    margin-bottom: 7px;
}



.navigation ul li.side-title:hover,
.navigation ul li.side-title.hovered {
    background-color: var(--blue);
}

.navigation ul li:not(.excluded):hover a,
.navigation ul li:not(.excluded).hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 64px;
    text-align: center;
}

.navigation ul li a .icon i {
    font-size: 1.75rem;
}

.navigation ul li a .sidenav-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



/* --------- curve outside ---------- */
.navigation ul li:not(.excluded):hover a::before,
.navigation ul li.hovered:not(.excluded) a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:not(.excluded):hover a::after,
.navigation ul li.hovered:not(.excluded) a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* ===================== Main ===================== */


.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--gray);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search form {
    position: relative;
    width: 100%;
}

.search form input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notification .badge {
    position: absolute;
    top: -7px;
    left: 6px;

}

.profile {
    position: relative;
}

.profile-links {
    position: absolute;
    top: calc(100%);
    right: 0;
    background: var(--gray2);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    z-index: 20;
    transition: all .3s ease;
}


.profile-links li a {
    color: var(--blue);
    cursor: pointer;
}

.topbar .profile .profile-links.show {
    opacity: 1;
    top: 100%;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }
}



@media (max-width: 480px) {
    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
        font-size: 24px;
    }

    .navigation.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}


/*======================== Cards================== */
#topcards .card .card-body {
    transition: 0.3s ease-in-out;
}

#topcards .card-body:hover {
    transform: scale(1.1);
}

.main-body {
    background: url("../Images/blue-bg-happy-family.6f81582e7b27.jpg") center/cover  no-repeat;
    height: 100vh;
    margin: 0;
    overflow: auto;

     }

    @media(min-width:991px) {
        .main-body {
            max-height: inherit;
        }
    }

    /* Product Image css */
    .upload-image {
        margin: 0;
        z-index: 1;
        position: relative;
      }
      .upload-image::after {
        display: block;
        clear: both;
        content: "";
      }
      .upload-image li {
        display: block;
        width: 200px;
        margin: 0 1% 2%;
        float: left;
        text-align: center;
      }
      .upload-image li > div {
        padding: 4px;
        background: #ced4da;
        margin-bottom: 10px;
      }
      .upload-image li > div + label,
      .upload-image li > div + label + input {
        display: none;
      }
      .upload-image div {
        background: #fff;
        position: relative;
        width: 200px;
        height: 200px;
        z-index: 200;
      }
      .upload-image img {
        position: absolute;
        margin: auto;
        top: 0;
        max-height: 200px;
        max-width: 200px;
        width: auto;
        height: auto;
        left: 0;
      }
      .upload-image .image-input {
        z-index: 800;
      }
      .upload-image .image-input button {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 0;
      }
      .upload-image .input-field {
        position: relative;
        z-index: 1000;
        opacity: 0;
      }
      .upload-image .input-field input {
        border-width: 0;
        direction: ltr;
        cursor: pointer;
        width: 200px;
        height: 200px;
      }