{% extends 'core/base.html' %}
{% load static %}
{% load image_tags %}
{% load i18n %}

{% block main-content %}
<div style="height: 100px; margin-bottom: 20px;" ></div>
<div class="settings_body container-fluid my-4">
    
    <div class="modal fade " tabindex="-1" id="shop_prompt" data-bs-backdrop="static"  role="dialog" data-bs-keyboard="false" aria-labelledby="shop_promptlabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title ">Want to make money!!! </h4>       
                </div>
                <div class="modal-body">
                    <p class="fw-medium fs-6">
                        Fill in the form to create your own store and unlock more features to sell with us
                    </p>
                </div>
                <div class="modal-footer">    
                    <span class="btn btn-success" data-bs-dismiss="modal" >Ok</span>
                    <a href="" class="btn btn-danger">Maybe Later</a>
                </div>
    
            </div>
        </div>
     </div>

    <nav aria-label="breadcrumb d-inline-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'core:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'store:settings'  %}">Settings</a>
            </li>
        </ol>
     </nav>
    
     <h3 class="me-auto">Account Settings</h3>
       

     <!--======================= Message alerts====================== -->
     {% if messages %}
     {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show  box fw-bold fs-6" role="alert">
        <p>{{ message }}</p>
        <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
         </div>
        {% endfor %}
    {% endif %}
    <!--=================End of message alerts========================-->
     <hr>
    <div class="d-flex justify-content-sm-end justify-content-center flex-wrap-wrap">
        <div class=""> 
            <img src="{{ user.profile_image.url }}" alt="" class="profile-image img-fluid" id="profileImage">
        </div>
        <form  class=" pt-container align-self-center " id="profileForm">
            {% csrf_token%}
            <label for="imageInput">
                <span class="btn btn-primary text-white fw-bold" id="updateImageButton">Edit image</span>
                <input type="file" name="profile-image" class="d-none" id="imageInput" onchange="uploadImage()">
            </label>
        </form>
    </div>
   
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link fw-bold {% if active_tab == 'profile' %} active {% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
            <button class="nav-link fw-bold {% if active_tab == 'store_settings' %} active {% endif %}" id="nav-store-tab" data-bs-toggle="tab" data-bs-target="#nav-store" type="button" role="tab" aria-controls="nav-store" aria-selected="true">Store settings</button>
            <button class="nav-link fw-bold {% if active_tab == 'notifications' %} active {% endif %}" id="nav-notifications-tab" data-bs-toggle="tab" data-bs-target="#nav-notifications" type="button" role="tab" aria-controls="nav-notifications" aria-selected="false">Notifications</button>
            <button class="nav-link fw-bold {% if active_tab == 'wishlist' %} active {% endif %} " id="nav-wishlist-tab" data-bs-toggle="tab" data-bs-target="#nav-wishlist" type="button" role="tab" aria-controls="nav-wishlist" aria-selected="false">Wishlist</button>
            <button class="nav-link fw-bold {% if active_tab == 'order_history' %} active {% endif %} " id="nav-orderHistory-tab" data-bs-toggle="tab" data-bs-target="#nav-orderHistory" type="button" role="tab" aria-controls="nav-orderHistory" aria-selected="false">Order history</button>
            <button class="nav-link fw-bold {% if active_tab == 'make_money' %} active {% endif %}" id="nav-make-money-tab" data-bs-toggle="tab" data-bs-target="#nav-make-money" type="button" role="tab" aria-controls="nav-make-money" aria-selected="false">How to make money</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane {% if active_tab == 'profile' %} fade show active {% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="container my-3 table-responsive">
                {% block profile_tabcontent %}{% endblock %}
            </div>
        </div>
        <div class="tab-pane {% if active_tab == 'store_settings' %} fade show active {% endif %}" id="nav-store" role="tabpanel" aria-labelledby="nav-store-tab" tabindex="0">
            <div class="container my-3">
            {% block  store_tabcontent %}
            
            {% endblock %}
            </div>
        </div>
    </div>
    <script>
           
        function  imageUploaded(elem, cardid, imageNamediv){
         card = document.getElementById(cardid)
         divName = document.getElementById(imageNamediv)
         
   
         if (elem.files[0]){
             originalName = divName.textContent
            card.className =  card.className.replace('border-primary', 'border-success ')
            divName.innerHTML = elem.files[0].name

         } else {
            card.className =  card.className.replace('border-success', 'border-primary ')
            divName.innerHTML = originalName
            console.log(originalName)
         }
        }
 
     function uploadImage(){
            const form = document.getElementById('profileForm')
            const formData = new FormData(form)

            fetch("{% url 'store:profile_upload' %}", {
                method: 'POST',
                body: formData,
                headers:{
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('profileImage').src = data.new_image
            })
            .catch(error => console.error('Error:', error))
        }
</script> 


{% if not user.shop.prompted and not user.shop.get_slug %}
<script>
	$(document).ready(function(){
		$("#shop_prompt").modal('show');
	});

</script>

{% endif %}


     
</div>


{% endblock %}