{% extends 'store/baseaccount.html' %}
{% load i18n %}

{%  block profile_tabcontent %}
    <form action="" method="POST">
        <div class="fw-bold fs-3">
            <h3>Edit Profile</h3>
            <hr>
        </div> 
        {% csrf_token %}
        {% if form.errors or form.non_field_errors%}
        <div class="alert alert-danger alert-dismissible fade show  box fw-bold fs-6" role="alert">
            {% for field in form %}
            {% if field.errors %}
            {{field.label_tag}}
            {{field.errors}}
            {% endif %}
            {% endfor %}
            {{ form.non_field_errors }}
            <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-6  mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="form-label fw-bold">First name:</label>
                {{ form.first_name  }}
            </div>
            <div class="col-6  mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="form-label fw-bold">Last name:</label>
                {{ form.last_name  }}
            </div>
            <div class="col-md-6  mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">Email:</label>
                {{ form.email  }}
            </div>
            <div class="col-6 mb-3">
                <label for="{{ form.location.id_for_label }}" class="form-label fw-bold">Location:</label>
                {{ form.location  }}
            </div>
            <div class="col-6  mb-3">
                <label for="{{ form.phone_number.id_for_label }}" class="form-label fw-bold">Phone number:</label>
                {{ form.phone_number  }}
            </div>
            <div class="col-6  mb-3">
                <label for="{{ form.phone_number.id_for_label }}" class="form-label fw-bold">WhatsApp number:</label>
                {{ form.whatsApp  }}
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn  btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                <a href="{% url 'store:settings' %}" class="btn btn-danger ">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}