{% extends 'core/base.html' %}
{% load image_tags %}
{% load i18n %}
{% load static %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load reviews_tags %}
{% load comment_tags  %}

{% block main-content %}
<div class="container-fluid">
    <div style="height:100px; margin-bottom: 20px;" ></div> 

    <div id="follow-alert">
       
    </div>
   
  <div class="row">
    <div class="card mb-3 ms-2" style="max-width: 500px;">
        <div class="row g-0 my-3">
            <div class="col-4">
                <img src="{{ store.primary_image.url }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title ">{{ store.name }}</h5>
                    <h6 class="fw-bold">Store Rating</h6>
                    <div class="star-rating {{ store.record.rating|as_stars }}  me-auto">
                        <i class="bi bi-star-fill "></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill "></i>
                        <i class="bi bi-star-fill "></i>
                        <i class="bi bi-star-fill"></i>
                      </div>
                      <h6 class="fw-bold">Seller's Score</h6>
                      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 75%">75%</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center mt-md-4 ps-4 ">
        <h4 class="display-3 fw-bold text-primary  d-md-block d-lg-block me-auto ">Welcome to {{ store.name }} online store</h4>
            <div class="d-flex flex-warp-nowrap justify-content-center ">
                {% if store.record.products.browsable.count == 1 %}
                <span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 ">{{ store.record.products.browsable.count }} product</span>
                {% else %}
                <span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 ">{{ store.record.products.browsable.count }} products</span>
                {% endif %}

                {% if store.comments.only_parent_comments.count == 1 %}
                <a href="#storeCommentForm" ><span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 ">{{ store.comments.only_parent_comments.count }} comment</span></a>
                {% else %}
                <a href="#storeCommentForm" ><span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 ">{{ store.comments.only_parent_comments.count }} comments</span></a>
                {% endif %}


                <div class="d-flex flex-warp-nowrap">
                    {% if store.record.store_followers.only_parent_comments.count == 1 %}
                    <span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 align-self-end " id="followers_count">{{ store.record.store_followers.count }} follower</span>
                    {% else %}
                    <span class="has-text-success is-size-4 is-size-5-mobile text-captialise fw-bold px-2 align-self-end " id="followers_count">{{ store.record.store_followers.count }} followers</span>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if not store.owner == user %}
                    <form  id="followForm">
                        {% csrf_token %}
                        {% if user in store.record.store_followers.all  %}
                        <button class="btn btn-dark text-light mx-2 btn-sm"  id="followbtn" value="{{ store.id  }}">Unfollow <i class="bi bi-heart-fill has-text-danger "></i></button>
                        {% else %}
                        <button class="btn btn-dark text-light mx-2 btn-sm"  id="followbtn" value="{{ store.id  }}">Follow <i class="bi bi-heart-fill "></i></button>
                        {% endif %}
                    </form>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'store:follow' store.id %}">
                        <button class="btn btn-dark text-light mx-2 btn-sm" >Follow <i class="bi bi-heart-fill"></i></button>   
                    </a>
                    
                    {% endif %}
                </div>            
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-lg-3 card">
        <dic class="card-header">
            <h3>Quick access</h3>
        </dic>
        <div class="card-body">
            <form action="">
               <div class="input-group">
                <button class="input-group-text" id="search-addon"><i class="bi bi-search"></i></button>
                <input type="search" class="form-control" list="datalistOptions" placeholder="Search for store product" aria-label="Product or category search" aria-describedby="search-addon"> 
                <datalist id="datalistOptions">
                    {% if user_productclass %}
                    {% for product_class in user_productclass %}
                    <option value="{{ product_class.name }}">    
                    {% endfor %}
                    {% endif %}
                </datalist>
               </div> 
            </form>

           <div class="mt-2">
            <h3 class="text-center">Store Tags</h3>
            {% if user_productclass %}
            <a href="{% url 'store:store' store.pk store.get_slug  %}#catalogue">  <button class="btn-outline-success btn rounded-pill fw-bold fs-6 my-1">All</button> </a>
            {% for product_class in user_productclass %}
            <a href="{% url 'store:productclass' product_class.name store.pk store.get_slug %}#catalogue">  <button class="btn-outline-success btn rounded-pill fw-bold fs-6 my-1">{{ product_class.name }}</button> </a>
            {% endfor %}
            {% else %}
            <p>No products posted yet</p>
            {% endif %}
           </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <h3 class="text-center " id="catalogue">Catalogue</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" class="nav-link active" aria-current="page">All products</a>
            </li>
            <li class="nav-item dropdown" >
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Fashion</a>
                <ul class="dropdown-menu">
                    <li><a href="" class="dorpdown-item">Men's Fashion</li>
                    <li><a href="" class="dorpdown-item">Women's Fashion</li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" >Contact Seller</a>
            </li>
        </ul>
        <!--========================= Products area======== -->
        {% include 'core/partials/paginatedProductMixture.html' with slider_id='catalogue' %}
          
    </div>
  </div>
  <hr>
  <div class="row my-3">
    <div class="col-md-4 col-lg-3 card">
        <div class="card-header">
            <h3>Store Status</h3>
        </div>
    <div class="card-body">
        <h4>Average Rating</h4>
        <div class="store-rating  me-auto d-flex justify-content-between">
            <i class="bi bi-star-fill text-warning fs-1"></i>
            <i class="bi bi-star-fill text-warning fs-1"></i>
            <i class="bi bi-star-fill text-warning fs-1"></i>
            <i class="bi bi-star-fill text-warning fs-1"></i>
            <i class="bi bi-star-fill fs-1"></i>
        </div>
        <hr>
        <a href="">
            <div class="store-rating  me-auto text-dark d-flex">
                <i class="bi bi-star-fill text-warning fs-6 mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <span class="fw-bold fs-5  ms-4">(3)</span>
            </div>
        </a>
        <a href="">
            <div class="store-rating  me-auto text-dark d-flex">
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <span class="fw-bold fs-5 ms-4">(4)</span>
            </div>
        </a>
        <a href="">
            <div class="store-rating  me-auto text-dark d-flex">
                <i class="bi bi-star-fill text-warning fs-6 mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <span class="fw-bold fs-5 ms-4">(5)</span>
            </div>
        </a>
        <a href="">
            <div class="store-rating  me-auto text-dark d-flex">
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <span class="fw-bold fs-5 ms-4">(2)</span>
            </div>
        </a>
        <a href="">
            <div class="store-rating  me-auto text-dark d-flex">
                <i class="bi bi-star-fill text-warning fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <i class="bi bi-star-fill  fs-6  mx-2"></i>
                <span class="fw-bold fs-5 ms-4">(1)</span>
            </div>
        </a>

    </div>

    </div>
    <div class="col-md-8 col-lg-9 pt-3 my-3">
        <h1 class="text-center" id="comments">Store Comments</h1>
        {% if commentForm.errors or commentForm.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show  box fw-bold fs-6" role="alert">
                        {% for field in commentForm %}
                        {% if field.errors %}
                        {{field.label_tag}}
                        {{field.errors}}
                        {% endif %}
                        {% endfor %}
                        {{commentForm.non_field_errors}}
                        <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
                    </div>
            {% endif %}

        {% if store.comments.all.exists %}
        {% for comment in store.comments.all %}
        {% if comment.is_parent %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ comment.user.profile_image.url }}" alt="{{ comment.user.get_full_name }}'s comment">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    
                        <div class="d-flex justify-content-between">
                            <strong>{{ comment.user.get_full_name  }}</strong>
                            <div class="star-rating {{ comment.score |as_stars }} d-flex">
                                <i class="bi bi-star-fill fs-4 mx-2"></i>
                                <i class="bi bi-star-fill  fs-4 mx-2"></i>
                                <i class="bi bi-star-fill  fs-4  mx-2"></i>
                                <i class="bi bi-star-fill  fs-4  mx-2"></i>
                                <i class="bi bi-star-fill  fs-4  mx-2"></i>
                            </div>
                        </div>
                        <p>{{ comment.message }}</p>
                        <div>
                            {% if comment.num_up_votes > 0  %}
                                {% if comment.num_up_votes == 1 %}
                                <p id="comment_message{{ comment.id }}">{{ comment.num_up_votes }} person agrees</p>
                                {% else %}
                                <p id="comment_message{{ comment.id }}">{{ comment.num_up_votes }} people agree</p>
                                {% endif %}
                            {% endif %}
                    
                        </div>
                      
                        {% if user.is_authenticated and not store.owner == user and not comment.user == user %}
                        <p class="small fw-bold ">Do you agree?</p>
                        {% endif %}
                        <div class="d-flex flex-warp-nowrap ">
                            {% if user.is_authenticated and not store.owner == user and not comment.user == user %}
                            <form action="" method="POST" class="d-flex">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ comment.id }}" name="comment_id">

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input d-none" name="delta" id="agree" value="1">
                                        <label for="agree" class="form-check-label">
                                            {% if comment|has_up_vote:user %}
                                            <small class="fs-6 me-2 btn votebtn text-primary fw-semibold comment{{ comment.id }} up" ><i class="bi bi-hand-thumbs-up-fill"></i><span class="text-dark" >Yes({{ comment.num_up_votes }})</span></small>.
                                            {% else %}
                                            <small class="fs-6 me-2 btn votebtn  fw-semibold comment{{ comment.id }} up " ><i class="bi bi-hand-thumbs-up-fill"></i><span class="text-dark" id="up_vote{{ forloop.counter }}">Yes({{ comment.num_up_votes  }})</span></small>.
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input d-none" name="delta" id="disagree" value="-1">
                                        <label for="disagree" class="form-check-label">
                                            {% if comment|has_down_vote:user %}
                                            <small class="fs-6 me-2 btn votebtn text-primary fw-semibold comment{{ comment.id }} down" ><i class="bi bi-hand-thumbs-down-fill"></i><span class="text-dark" >No({{ comment.num_down_votes }})</span></small>.
                                            {% else %}
                                            <small class="fs-6 me-2 btn votebtn  fw-semibold comment{{ comment.id }} down " ><i class="bi bi-hand-thumbs-down-fill"></i><span class="text-dark" id="up_vote{{ forloop.counter }}">No({{ comment.num_down_votes  }})</span></small>.
                                            {% endif %}
                                        </label>
                                    </div>
                                </form>
                                {% endif %}
                                <small class="fs-6 fw-bold btn" data-bs-toggle="collapse" data-bs-target="#replyCollapse{{ comment.id}}" aria-controls="replyCollapse{{ comment.id }}"><i class="bi bi-reply-fill  "></i>Replies({{ comment.replies.count }})</small>
                       </div>

                </div>
                
                <div class="collapse" id="replyCollapse{{ comment.id }}">
                    <div class="card card-body">
                        {% if comment.has_replies %}
                        {% for reply in comment.replies.all %}
                        <article class="media"><!--=============Replies=========================-->
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="{{ reply.user.profile_image.url }}" alt="{{ reply.user.get_full_name }}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <div class="text-start">
                                            <strong>{{ reply.user.get_ful_name }}</strong>    
                                        </div>
                                        <p>{{ reply.message }}</p>
                                       <div class="d-flex flex-warp-nowrap ">
                                        <small class="fs-6 me-2 "><a href="" class="text-dark"><i class="bi bi-hand-thumbs-up-fill"></i>Like (200likes)</a></small>
                                       </div>
                                    </p>
                
                                </div>
                            </div>
                    
                        </article><!--=====================End of replies==========================-->
                        {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated %}
                        <article class="media"><!--===========Reply form=================-->
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="{{ user.profile_image.url }}" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <div class="text-start mb-2">
                                        <strong>{{ user.get_full_name }}</strong>    
                                    </div>
                                  <form action="{% url 'store:reply' comment.id   %}" method="POST">
                                    {% csrf_token %}
                                    {{ replyForm.message }}
                                    <button class="btn w-5 btn-primary my-2" type="submit"><i class="bi bi-arrow-up"></i>Send</button>
                                  </form>
                                    
                                </div>
                            </div>
                    
                        </article><!---===========End of reply form-->
                        {% endif %}
                    </div>
                </div>
              
            </div>
        </article>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>This store has no comments. <a href="#storeCommentForm">Be the first to comment</a></p>
        {% endif %}
        <hr>
        <div class="media" id="storeCommentForm">
            {% if user.is_authenticated %}
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ user.profile_image.url }}" alt="Profile Image">
                </p>
            </figure>
            {% endif %}
            <div class="media-content">
                <form action="{% url 'store:comment' store.pk store.slug %}#comments" method="POST" >
                    {% csrf_token %}
                    
                    <div class="col-md-6">
                        <label for="{{commnetForm.title.id_for_label}}" class="form-label fw-bold  {% if commentForm.title.error %} tex-danger {% else %} text-dark {% endif %}">Title:</label>
                        {{ commentForm.title }}
                    </div>
                    <div class="col-md-12 my-3 store-rating">
                        <label for="{{commentForm.score.id_for_label}}" class="form-label fw-bold {% if commentForm.score.error %} tex-danger {% else %} text-dark {% endif %}">Rate Store:</label>
                        {{commentForm.score}}
                        <div class="star-rating {{commentForm.instance.score|as_stars }} d-flex">
                            <i class="bi bi-star-fill  fs-3  mx-2"></i>
                            <i class="bi bi-star-fill  fs-3 mx-2"></i>
                            <i class="bi bi-star-fill  fs-3  mx-2"></i>
                            <i class="bi bi-star-fill  fs-3  mx-2"></i>
                            <i class="bi bi-star-fill  fs-3  mx-2"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{commnetForm.message.id_for_label}}" class="form-label fw-bold  {% if commentForm.message.error %} tex-danger {% else %} text-dark {% endif %}">Comment:</label>
                        {{ commentForm.message }}
                    </div>
                   <div class="d-grid col-6 mx-auto my-3">
                    <button class="btn btn-primary rounded fw-bold" type="submit">Post Comment</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <script>
   
    $(document).ready(function(){

     // Handle Rating
     var ratings = $('.store-rating')
    if(ratings.length){
        ratings.find('.star-rating i').on('click', starFunc)
    }

    function starFunc(){
    var ratings = ['One','Two','Three','Four','Five']; //possible classes for display state
    $(this).parent().removeClass('One Two Three Four Five').addClass(ratings[$(this).index()]);
    $(this).closest('.col-md-12').find('select').val($(this).index() + 1); //select is hidden, set value
    }

    function alertFunc(divid, message, type){
        const alertPlaceholder = document.getElementById(divid)
        const appendAlert = (message, type) =>{
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div  class="alert alert-${type} alert-dismissible" role="alert">`,
                `    <div>${ message }</div>`,
                '  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'

            ].join('')
            alertPlaceholder.append(wrapper)
        }
        appendAlert(message, type)
    }



    $('#followbtn').on('click', function(e){
        e.preventDefault()
        $.ajax({
            type:'POST',
            url: "{% url 'store:follow' store.id %}",
            data: { 
                store_id :$('#followbtn').val(),
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
                console.log('Loading')

                if(response.is_follower == true){
                    $('#followbtn').html("Unfollow <i class='bi bi-heart-fill has-text-danger '></i>")
                    alertFunc('follow-alert', 'You are now following {{ store.name }} store', 'primary' )
                   
                } else {
                    $('#followbtn').html("Follow <i class='bi bi-heart-fill'></i>")
                    alertFunc('follow-alert', 'You have unfollowed  {{ store.name }} store' , 'primary' )
                   
                }

                if(response.followers_count == '1' ){
                    document.getElementById('followers_count').innerHTML = response.followers_count + ' follower' 
                } else {
                    document.getElementById('followers_count').innerHTML = response.followers_count + ' followers'
                    
                }
               

            }, 
            error: function(error){
                console.log(error)
            }
        })
    })

    $('.votebtn').on('click', function(){

        

        const comment_id = $(this).parents('form').children("input[name='comment_id']").val()
        

    thumb_containers = $(this).parents('form').find(`.comment${comment_id}`)



$.ajax({
    type:'POST',
    url: `/tlink/${ comment_id }/vote/comment`,
    data: { 
        delta: $(this).closest('.form-check').find("input[name='delta']").val() ,
        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response){
        console.log(response.errors)

        thumb_containers.each(function(){
            if ($(this).hasClass('up')){
                $(this).find('span').html(`Yes(${response.num_up_votes})`)
                  if(response.has_up_vote){
                        $(this).addClass('text-primary')
                    
                    } else{
                            $(this).removeClass('text-primary')
                        }
                if(response.num_up_votes == 1){
                    $(`#comment_message${comment_id}`).removeClass('d-none')
                    $(`#comment_message${comment_id}`).html(`${response.num_up_votes} person agrees`)
                    
                    
                } else if( response.num_up_votes == 0){
                    $(`#comment_message${comment_id}`).html('')
                    $(`#comment_message${comment_id}`).addClass('d-none')
                    
                } else{
                    $(`#comment_message${comment_id}`).removeClass('d-none')
                    $(`#comment_message${comment_id}`).html(`${response.num_up_votes} people agree`)
                    
                }
            } else if($(this).hasClass('down')){
                $(this).find('span').html(`No(${response.num_down_votes})`)

                if(response.has_down_vote){
                        $(this).addClass('text-primary')
                    } else{
                            $(this).removeClass('text-primary')
                        }
                
            }
        })

    }, 
    error: function(xhr, textStatus, error){
        console.log(error)
    }
})



})

})

</script>
</div>
{% endblock main-content %}