{% extends 'store/store_settings_details.html' %}
{% load static %}
{% load image_tags %}
{% load i18n %}

{% block store_tabcontent %}
 
<form action="{% url 'store:createStore' %}" method="POST" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    {% if storeForm.errors or storeForm.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show  box fw-bold fs-6" role="alert">
        {% for field in storeForm %}
        {% if field.errors %}
        {{field.label_tag}}
        {{field.errors}}
        {% endif %}
        {% endfor %}
        {{storeForm.non_field_errors}}
        <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
    {% endif %}
    <div class="fw-bold fs-3">
        {% if user.shop.pk and user.shop.get_slug %}
        <h3>Edit Store</h3>
        {% else %}
        <h3>Create your online store</h3>
        {% endif %}
    </div> 

<div class="col-md-6">
    <label for="{{ storeForm.name.id_for_label }}" class="form-label fw-bold my-1">Name your store:</label>
    {{storeForm.name}}
</div>
<div class="col-md-6">
    <label for="{{ storeForm.location.id_for_label }}" class="form-check-label fw-bold my-1">Location:</label>
    {{storeForm.location}}
</div>       
<div class="col-md-6 border border-primary-subtle">
    <h6 class="fw-bold">Select the kind of products you deal in </h6>

    {% for checkbox in storeForm.product_type %}
    <div class="form-check-inline">
        {{ checkbox }} 
    </div>
    {% endfor %}
    <small>
        {{storeForm.product_type.help_text}}
    </small>
 </div>
 

    <div class=" row my-3">
        <div>
            <h5 class="fw-bold fs-5">Do you have a shop on ground?</h5>
            <p class="fw-medium">Include pysical shop images(Optional)</p>
        </div> 
        
        <div class="col-md-3 bordered mt-2 col-6 ">
            {{storeForm.location_image1.errors}}
            <div class="card border {% if storeForm.location_image1.errors %} border-danger {% else %}border-primary{% endif %} border-4" id="card1">
                <div class="card-header text-center" id="imageName1">Location image 1</div>
                <div class="card-image">
                {% if user.has_store %}
                <img src="{% oscar_thumbnail user.shop.location_image1 '400x300' crop='center' upscale='False' %}" class="img-fluid rounded " alt="Location image 1">
                {% else %}
                <img src="{% static 'core\Images\image_not_found.jpg' %}" class="img-fluid rounded " alt="Location image 1">
                {% endif %}
                <div class="card-body">
                  <label for="{{storeForm.location_image1.id_for_label }}">
                    <a class="btn btn-primary">Edit image</a>
                    <div class="d-none">
                        {{ storeForm.location_image1 }}
                    </div>
                  </label>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bordered  mt-2 col-6 ">
            {{storeForm.location_image2.errors}}
            <div class="card border border-primary border-4" id="card2">
                <div class="card-header text-center" id="imageName2">Location image 2</div>
                <div class="card-image">
                    {% if user.has_store %}
                <img src="{% oscar_thumbnail user.shop.location_image2 '400x300' crop='center' upscale='False' %}" class="img-fluid rounded " alt="Location image 2">
                {% else %}
                <img src="{% static 'core\Images\image_not_found.jpg' %}" class="img-fluid rounded " alt="Location image 2">
                {% endif %}
                <div class="card-body">
                  <label for="{{storeForm.location_image2.id_for_label }}">
                    <a class="btn btn-primary">Edit image</a>
                    <div class="d-none">
                        {{ storeForm.location_image2 }}
                    </div>
                  </label>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bordered  mt-2 col-6">
            {{storeForm.location_image3.errors}}
            <div class="card border border-primary border-4" id="card3">
                <div class="card-header text-center" id="imageName3">Location image 3</div>
                <div class="card-image">
                    {% if user.has_store %}
                    <img src="{% oscar_thumbnail user.shop.location_image3 '400x300' crop='center' upscale='False' %}" class="img-fluid rounded " alt="Location image 3">
                    {% else %}
                    <img src="{% static 'core\Images\image_not_found.jpg' %}" class="img-fluid rounded " alt="Location image 3">
                    {% endif %}
                <div class="card-body">
                  <label for="{{storeForm.location_image3.id_for_label }}">
                    <a class="btn btn-primary">Edit image</a>
                    <div class="d-none">
                        {{ storeForm.location_image3}}
                    </div>
                  </label>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bordered  mt-2 col-6">
            {{storeForm.location_image4.errors}}
            <div class="card border border-primary border-4" id="card4">
                <div class="card-header text-center" id="imageName4">Location image 4</div>
                <div class="card-image">
                {% if user.has_store %}
                <img src="{% oscar_thumbnail user.shop.location_image4 '400x300' crop='center' upscale='False' %}" class="img-fluid rounded " alt="Location image 4">
                {% else %}
                <img src="{% static 'core\Images\image_not_found.jpg' %}" class="img-fluid rounded " alt="Location image 4">
                {% endif %}
                <div class="card-body">
                  <label for="{{storeForm.location_image4.id_for_label }}">
                    <a class="btn btn-primary">Edit image</a>
                    <div class="d-none">
                        {{ storeForm.location_image4 }}
                    </div>
                  </label>
                </div>
                </div>
            </div>
        </div>

    </div>
   
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success  fw-bold" type="submit">Save</button>
            <a href="{% url 'store:settings' %}" class="btn btn-primary">{% trans 'Back' %}</a>
        </div>
    
</div>       


</form>

{% endblock %}