{% extends 'core/base.html' %}
{% load i18n  %}
{% load image_tags %}
{% load reviews_tags %}

{% block main-content %}
<div class="container-fluid my-3">
    <div style="height:100px; margin-bottom: 20px;" ></div> 
    {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepage_url }}" class="fw-bold ">{% trans "Home" %}</a>
            </li>
            {% with category=product.categories.all.0 %}
                {% for c in category.get_ancestors_and_self %}
                    <li class="breadcrumb-item">
                        <a href="{{ c.get_absolute_url }}" class="fw-bold">{{ c.name }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item">
                    <a href="{{ product.get_absolute_url }}" class="fw-bold">{{ product.title }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.pk %}" class="fw-bold">{% trans "Reviews" %}</a>
                </li>
            {% endwith %}
            <li class="breadcrumb-item fw-bold active" aria-current="page" >{{ review.title }}</li>
        </ol>
    </nav>
    {% endblock %}
    {% block headertext %}
    <h2>{% trans "Customer reviews" %}</h2>
{% endblock  %}

    {% include 'oscar/catalogue/reviews/review_product.html' %}
    <div class="my-2">
        {% include 'oscar/catalogue/partials/review.html' %}
    </div>
   

</div>

{% endblock %}