{% load static %}
<div class="row ">
    <div class="swiper top-deals"> <!--Top deals fashion begins-->
      <div class="swiper-wrapper">
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide col-lg-2 col-md-3 col-sm-4 col-5 mx-2">
          <a href="">
            <div class="card td-cards">
              <div class="card-image">
                <img src="{% static 'core\Images\Fashion\male-casual-sleevless-short-attire.jpg' %}" class="img-fluid rounded" alt="">
              </div>
              <div class="card-body mt-1  p-2 is-dark">
                <p class=" mb-1 is-size-7-mobile  " style="height: 44px; overflow: hidden;">{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, consequuntur?"| truncatewords:5}}</p>
                <p class="is-size-7-mobile is-size-6 has-text-primary fw-bold ">UGX 30,000</p>
              </div>
            </div>
          </a>
        </div>
          </a>
        </div>
        
        <div class="swiper-button-next "></div>
        <div class="swiper-button-prev "></div>
      </div>
    </div>