{% extends 'core/base.html' %}
{% load static %}
{% load category_tags %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load i18n %}
{% load currency_filters %}
{% block main-content %}
<div class="category-main-banner {{ category.get_root.name.lower }} d-flex">
    <div class="category-header-info  justify-content-center align-items text-center">
        <h1 class="text-white ">Welcome to {{ site_name }}</h1>
        <h5 class="text-white fw-bold fst-italic "> {{ category.name.title  }} Collection</h5>
    </div>
</div>

<div class="container-fluid my-2 ps-3">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:index' %}" class="fw-bold fs-6">Home</a></li>
            {% for ancestor in category.get_ancestors %}
            <li class="breadcrumb-item"><a href="{{ ancestor.get_absolute_url }}" class="fw-bold fs-6">{{ ancestor.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ category.get_absolute_url }}" class="fw-bold fs-6">{{ category.name }}</a></li>
        </ol>
    </nav>
</div>
<div class="container-fluid my-2">
    <div class="row justify-content-center">
        <div class="col-3 d-none d-mb-block d-lg-block"><!--Medium device Category list-->
            <div class="card">
                <div class="card-header">
                    <h4 class="fs-bold">Show Resuls for:</h4>
                </div>

                <div class="card-content">
                    {% category_tree parent=category.get_root as tree_categories  %}
                        <ul>
                        {% for category, info in tree_categories %}
                            <li>
                                {% if category.productclass_set.all.exists %}
                                {{ category }} has product class
                                {% endif %}
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if info.has_children %}
                                   <ul>
                                {% else %}
                                    </li>
                                {% endif %}
                            {% for n in info.num_to_close %}
                                </ul></li>
                            {% endfor %}
                        {% endfor %}
                    </ul> 

                </div>
            </div>
        </div><!--End of medium device Category list-->
        {% block category_content %}
        <div class="col-9">  
            <div class="my-3 p-2 d-mb-none d-lg-none"> <!--Mobile Category list--> 
                
                <div class="d-grid">
                    <button class="btn btn-outline-primary fs-5 fw-bold" data-bs-toggle="collapse" data-bs-target="#category-collapse" role="button" aria-expanded="false" aria-controls="category-collapse">
                        {{ category.get_root.name }} Categories
                    </button>
                </div>
                <div class="collapse" id="category-collapse">
                    <div class="card card-body mt-1">
                    {% category_tree parent=category.get_root as tree_categories  %}
                    <ul>
                    {% for category, info in tree_categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            {% if info.has_children %}
                               <ul>
                            {% else %}
                                </li>
                            {% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                    {% endfor %}
                </ul> 
                    </div>
            </div> 
            </div> <!--End of Mobile category list-->            
            {% block category_description %}
            {% if category.description %}
                <div class="card mb-3 d-none d-mb-block d-lg-block" style="max-width: 760px;">
                    <div class="row g-0 ">
                        <div class="col-4">
                            <img src="{% oscar_thumbnail category.image 'x250' upscale=False %}" alt="" class="img-fluid rounded-start">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.name }}</h5>
                                 {{ category.description|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endblock %}

            <!--Find your interests section-->
            <div class="text-center">
                <h3>Find you interest</h3>
                <hr>
            </div>
            {% if category.get_children.count > 1%}
            {% include 'core/partials/subcategorySlider.html'  %}
            {% else %}
            {% include 'core/partials/subcategorySlider.html' with category=category.get_root %}
            {% endif %}
            <!--End of find your interests section-->
         
        </div>
            {% endblock category_content %}
    </div><!--End of row-->

    <div class="container-fluid" >
        <div class="text-captialise text-center my-3">
            <h2>{{ category.get_root }} Vendors</h2>  
        </div>
        
        {% include 'core/partials/storeList.html' %}

        <div class="text-captialise text-center my-3">
            <h2 id="feature_products">Featured {{ category.name }} products</h2>  
        </div>

        {% include 'core/partials/paginatedProductMixture.html' with slider_id='feature_products' %}
    </div>
  
</div>
{% endblock %}