{% extends 'core/base_login_and_registration.html' %}


{% block greeting_intro %}Hello, Again {% endblock %}
{% block greeting %}We are happy to have you back.{% endblock %}


{% block form_label %} Login {% endblock %} 

{% block form_content %}
{% if login_form.errors or login_form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show  box fw-bold fs-6" role="alert">
    {% for field in login_form %}
    {% if field.errors %}
    {{field.label_tag}}
    {{field.errors}}
    {% endif %}
    {% endfor %}
    {{login_form.non_field_errors}}
    <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
</div>
{% endif %}

{{ login_form.redirect_url }}
<div class="my-1">
    <label for="{{ login_form.username.id_for_label }}" class="form-label">Email:</label>
    {{ login_form.username }}
</div>
<div class="my-1">
    <label for="{{ login_form.password.id_for_label }}" class="form-label">Password:</label>
    {{ login_form.password }}
</div>
<div class="d-flex justify-content-between my-2">
    <small class="fw-bold">Don't have an account? <br> <a href="{% url 'customer:register' %}">Sign up</a></small>
    <small class="fw-bold">
        <a href="">Forgot password?</a>
    </small>
</div>

<button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary w-100 my-2" >Log In</button>
{% endblock form_content %}