{% extends 'core/base.html' %}

{% block main-content %}
{% include 'core/partials/payment_modal.html' with modal_id="basic_sub"  subscription="basic" %}
{% include 'core/partials/payment_modal.html' with modal_id="premium_sub"  subscription="premium" %}
{% include 'core/partials/payment_modal.html' with modal_id="enterprise_sub"  subscription="enterprise" %}
<div class="container-fluid pricing-body">
<div style="height: 100px; margin-bottom: 20px;"></div>
   <div class=" d-flex align-items-center justify-content-center">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4"><!--Basic plan-->
                <div class="card">
                    <div class="card-header text-center d-block">
                        <h4 class="card-title display-6 fw-bold">Basic Plan</h4>
                        <h5 class="has-text-success fw-bold"><sup>UGX</sup>1000/unlimited </h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">Feauture 1<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 2<i class="bi bi-x-circle-fill unavailable"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 3<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 4<i class="bi bi-x-circle-fill unavailable"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 5<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 6<i class="bi bi-x-circle-fill unavailable"></i></li>
                    </ul>
                    <button  class="btn is-fullwidth btn-primary fw-bold fs-5 " data-bs-toggle="modal" data-bs-target="#basic_sub">Buy Now</button>
                </div>
            </div><!--End of basic plan-->
            <div class="col-lg-4 mb-4"><!--Basic plan-->
                <div class="card">
                    <div class="card-header text-center d-block">
                        <h4 class="card-title display-6 fw-bold">Premium Plan</h4>
                        <h5 class="has-text-success fw-bold"><sup>UGX</sup>50,000 <span> / month</span> </h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">Feauture 1<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 2<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 3<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 4<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 5<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 6<i class="bi bi-x-circle-fill unavailable"></i></li>
                    </ul>
                    <button  class="btn is-fullwidth btn-primary fw-bold fs-5" data-bs-toggle="modal" data-bs-target="#premium_sub">Buy Now</button>
                </div>
            </div><!--End of basic plan-->
            <div class="col-lg-4 mb-4"><!--Basic plan-->
                <div class="card">
                    <div class="card-header text-center d-block">
                        <h4 class="card-title display-6 fw-bold">Enterise Plan</h4>
                        <h5 class="has-text-success fw-bold"><sup>UGX</sup>100,000 <span> / month</span> </h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">Feauture 1<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 2<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 3<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 4<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feauture 5<i class="bi bi-check-circle-fill available"></i></li>
                        <li class="list-group-item d-flex justify-content-between">Feature 6<i class="bi bi-check-circle-fill available"></i></li>
                    </ul>
                    <button  class="btn is-fullwidth btn-primary fw-bold fs-5" data-bs-toggle="modal" data-bs-target="#enterprise_sub">Buy Now</button>
                </div>
            </div><!--End of basic plan-->
        </div>
    </div>
   </div>
</div>

{% endblock main-content %}