{% extends 'core/base_login_and_registration.html' %}

{% block greeting_intro %}Hello There, {% endblock %}
{% block greeting %}Your welcome to join our <a href="{% url 'core:index' %}">TLink</a> community{% endblock %}

{% block form_label %} Signup {% endblock %} 
{% block form_content %}
<div class="row">
    {% if form.errors or form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show  box fw-bold fs-6" role="alert">
                        {% for field in form %}
                        {% if field.errors %}
                        {{field.label_tag}}
                        {{field.errors}}
                        {% endif %}
                        {% endfor %}
                        {{form.non_field_errors}}
                        <span class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
                    </div>
                    {% endif %}
    {{ form.redirect_url }}
    <div class="col-md-6 my-1">
        <label for="{{form.first_name.id_for_label }}" class="form-label">First name:</label>
        {{ form.first_name }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.last_name.id_for_label }}" class="form-label">Last name:</label>
        {{ form.last_name }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.email.id_for_label }}" class="form-label">Email:</label>
        {{ form.email }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.location.id_for_label }}" class="form-label">Location:</label>
        {{ form.location }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.phone_number.id_for_label }}" class="form-label" >Phone Number:</label>
        {{ form.phone_number }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.whatsApp.id_for_label }}" class="form-label" >WhatsApp Number</label>
        {{ form.whatsApp }}
    </div
    <div class="col-md-6 my-1">
        <label for="{{form.gender.id_for_label }}" class="form-label" >Gender:</label>
        {{ form.gender}}
    </div>
    <div class="row">
        <label for="{{form.date_of_birth.id_for_label}}">Date of Birth:</label>
        {{ form.date_of_birth }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.password1.id_for_label }}" class="form-label" >Password:</label>
        {{ form.password1 }}
    </div>
    <div class="col-md-6 my-1">
        <label for="{{form.password2.id_for_label }}" class="form-label" > Confirm Password:</label>
        {{ form.password2 }}
    </div>
    <div class="col-12 my-1">
       <p class="mb-1">I have read and accepted the <a href="" class="fw-bold">Terms and conditions</a></p>
        {{ form.has_accepted_terms_and_conditions }}
    </div>

    <p class="my-1 fs-6 fw-bold">Already have an account? <a href="{% url 'customer:login' %}">Login</a></p>

    <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary w-100 my-2" >Register</button>

</div>
{% endblock form_content %}