{% block footer %}
<footer class="container-fluid has-background-grey ">
    <div class="columns">
        <div class="column">
            <ul class="ul">
                <li class="title is-6 has-text-info-light">
                    <i class="bi bi-facebook"></i>
                    <span class="">Facebook</span>
                </li>
                <li class="title is-6 has-text-info-light ">
                    <i class="bi bi-instagram"></i>
                    <span class="">Insatgram</span>
                </li>
                <li class="title is-6 has-text-info-light ">
                    <i class="bi bi-whatsapp"></i>
                    <span class="">Facebook</span>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock footer %}