{% load static %}
<div class="modal" id="{{sub_modal_id}}">
    <div class="modal-background"></div>
    <div class="modal-content" >
        <div class="box ">
            <div class="columns  is-justify-content-center">
                <div class="column is-half">
                    <div class="card ">
                        <div class="card-header has-content-centered title is-4">Select your payment method</div>
                        <div class="card-content">
                            <ul class="ul">
                                <li>
                                    <a href="{% url 'core:signup' subscription 'mtn' %}">
                                     <div class="media mtn-momo-panel mb-4">
                                         <div class="media-left">
                                             <figuer class="image is-96x96">
                                                 <img src="{% static 'core\Images\Mtn_momo.jpeg' %}" alt="Mtn momo">
                                             </figuer>
                                         </div>
                                         <div class="media-content">
                                            <div class="content subtitle is-4">
                                             Mtn Momo
                                            </div>
                                         </div>
                                     </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                     <div class="media airtel-momo-panel">
                                         <div class="media-left">
                                             <figuer class="image is-96x96">
                                                 <img src="{% static 'core\Images\Airtel_momo.png' %}" alt="Airtel momo">
                                             </figuer>
                                         </div>
                                         <div class="media-content">
                                            <div class="content subtitle is-4">
                                            Airtel Momo
                                            </div>
                                         </div>
                                     </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>