{% load static %}
{% load image_tags %}

<div class="row my-3">
    <div class="swiper category-intro">
      <style>
        @media(max-width: 572px){
          .image-info{
            left: 24%!important;
          }
        }
      </style>
      <div class="swiper-wrapper">
        {% for category in base_categories %}
        <div class="swiper-slide col-lg-3 col-mb-4 col-sm-6 mx-2">
            <a href="{{ category.get_absolute_url }}">
              <div class="image-container" class="w-25">
                <img src="{% oscar_thumbnail category.image  '400x500' crop='center' upscale='false' %}" alt="" class="rounded img-fluid">
                <div class="image-info">
                  <h6 class="text-white  text-uppercase is-size-4-mobile is-siz-5" >{{ category.name }}</h6>
              </div>
            </div>
            </a>
        </div>
        {% endfor %} 
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next d-none d-md-block d-lg-block"></div>
      <div class="swiper-button-prev d-none d-md-block d-lg-block"></div>
    </div>

  </div>