{% load static %}
{% load category_tags %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load i18n %}
{% load currency_filters %}


<div class="container my-3">
    <!-- <div class="text-start">
     <h3 id="Featured_productlist">Featured {{ category.name }} Products</h3>
     <hr>
    </div> -->
    <div>
      {% if store_paginator.count %}
      {% if store_paginator.num_pages > 1 %}
          {% blocktrans with start=store_page_obj.start_index end=store_page_obj.end_index count num_results=store_paginator.count %}
              <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
          {% plural %}
              <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
          {% endblocktrans %}
      {% else %}
          {% blocktrans count num_results=store_paginator.count %}
              <strong>{{ num_results }}</strong> result.
          {% plural %}
              <strong>{{ num_results }}</strong> results.
          {% endblocktrans %}
      {% endif %}
  {% else %}
      <p>
          {% trans "<strong>0</strong> results." %}
      </p>
  {% endif %}
  </div>
    <div class="row stores mx-2">
      {% for store in stores %}
      <div class="col-lg-3 col-md-4 col-5 my-2">
          {% include 'store/storeCard.html'  %}
      </div>
      {% endfor %}
      {% include "oscar/partials/storelist_pagination.html" %}
    </div>
  </div>