{% load static %}
{% load reviews_tags %}
{% load image_tags %}

<div class="row my-3">
    <div class="swiper ps-swiper"><!--Popular fashion stores swiper begin-->
      <div class="swiper-wrapper">
        {% for store in stores %}
          <div class="swiper-slide  col-lg-3 col-md-4 col-6 mx-2">
          {% include 'store/storeCard.html' %}
          </div>
          {% endfor %}
    </div>
    <div class="swiper-button-prev d-none d-md-block d-lg-block"></div>
    <div class="swiper-button-next d-none d-md-block d-lg-block"></div>
  </div>
</div>