{% load static %}
{% load image_tags %}

<div class="row my-3">
    <div class="swiper category-intro ">
        <div class="swiper-wrapper">
          {% for category in Fashion.get_children %}
          {% if category.image %}
            <div class=" swiper-slide col-lg-3 col-mb-4 col-sm-6 mx-2">
                <a href="#">
                  <div class="image-container" class="w-25">
                    <img src="{% oscar_thumbnail category.image  '400x300' crop='center' upscale='false' %} " alt="" class="rounded img-fluid">
                    <div class="image-info">
                      <h6 class="text-white  text-uppercase fs-4 ">{{ category.name }}</h6>
                  </div>
                </div>
                </a>
            </div>
            {% else %}
            <p class="fw-bold text-centered ">You have no images associated with the {{ category.name }} category</p>
            {% endif %}
            {% endfor %} 
          </div>
          
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev d-none d-mb-block d-lg-block"></div>
          <div class="swiper-button-next d-none d-mb-block d-lg-block"></div>
      </div>
</div>